<form action="add_new_guest" method="POST">
    <p>Name:</p>
    <input type="text" name="name">
    <br>
    <p>ID Number:</p>
    <input type="text" name="id_number">
    <br>
    <p>Adress:</p>
    <input type="text" name="adress">
    <br>
    <p>Phone Number:</p>
    <input type="text" name="phone_number">
    <br>
    <p>Check-in:</p>
    <input type="text" name="check-in">
    <br>
    <p>Check-out:</p>
    <input type="text" name="check-out">
    <br>
    <p>Room Number:</p>
    <input type="text" name="room_number">
    <br>
    <button type="submit">Submit</button>
</form>